<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_grid_data_source" xsi:type="string">Wuunder\Wuunderconnector\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Wuunder\Wuunderconnector\Api\BookingProcessorInterface"
                type="Wuunder\Wuunderconnector\AutoBooking\Processor" />
    
    <preference for="Wuunder\Wuunderconnector\Api\WuunderShipmentRepositoryInterface"
                type="Wuunder\Wuunderconnector\Model\WuunderShipmentRepository" />

    <preference for="Wuunder\Wuunderconnector\Api\BookingConfigBuilderInterface"
                type="Wuunder\Wuunderconnector\Model\BookingConfigBuilder" />
</config>
