<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_order_save_commit_after">
        <observer name="wuunder_wuunderconnector_auto_booking" instance="Wuunder\Wuunderconnector\Observer\AutoBooking" />
    </event>

</config>
