.parcelshopPickerIframeContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483;
    background-color: rgba(133, 133, 133, 0.64);
}

.parcelshopPickerIframe {
    max-width: 1200px;
    margin: auto;
}

.parcelshopPickerIframe > iframe {
    border: none;
}