.wuunder-icons {
}

.wuunder-icons ul {
    margin: 0;
    padding: 0;
}

.wuunder-icons ul li {
    float: left;
    margin-right: 5px;
}

.wuunder-icons ul li a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #94D600;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.wuunder-icons ul li.wuunder-label-create a {
    background-image: url('../images/create-label.png');
}

.wuunder-icons ul li.wuunder-label-download a {
    background-image: url('../images/print-label.png');
}

.wuunder-icons ul li.wuunder-label-tracktrace a {
    background-image: url('../images/in-transit.png');
}

.wuunder-icons ul li a:hover {
    background-color: #999;
}